# MODEL TRAINING - testing the full approach
saving models in a different folder using pickle, saving them in the dataframe causes xgboost to crash

**DO NOT RUN AGAIN**

In [16]:
#external libraries
import numpy as np
import os
import matplotlib.pyplot as plt
import matplotlib.colors as clt
import plotly
import plotly.subplots as sb
import plotly.express as px
import plotly.graph_objects as go
import dotenv
import pandas as pd
import scipy.fft as fft
import scipy.signal as sg
import scipy.io as sio
import pickle as pkl
import xgboost as xgb
import time
import uuid

#project library
from spinco import *

#environment variables
dotenv.load_dotenv('lab.env')

#project variables
datapath=os.environ['DATAPATH']
cognipath=datapath+"/COGNITION"
dreamspath=datapath+"/DREAMS"
masspath=datapath+"/MASS"

## experiment id
we'll use it to create a folder at the end of the script

In [17]:
experimentId=str(uuid.uuid4())

## define a fixed samplerate

In [18]:
samplerate=200

## load mass

In [19]:
#annotations, signalsMetadata = loadMASSSpindles(masspath,forceSamplerate=samplerate,onlySpindlesFilteredN2=True)
annotations, signalsMetadata = loadMASSSpindles(masspath,forceSamplerate=samplerate)

In [20]:
annotations=annotations[annotations.type=='spindle'].reset_index(drop=True)
len(annotations)

33458

In [21]:
minDuration=0.3
maxDuration=5
annotations=annotations[annotations.duration>minDuration].reset_index(drop=True)
annotations=annotations[annotations.duration<maxDuration].reset_index(drop=True)
len(annotations)

33269

In [22]:
annotations.head()

,type,expert,subjectId,labelerId,startTime,duration,samplerate,stopTime,startInd,stopInd
0,spindle,E1,0001,0001,888.327805,0.640579,200,888.968384,177666,177794
1,spindle,E1,0001,0001,905.758061,0.578094,200,906.336155,181152,181267
2,spindle,E1,0001,0001,917.731574,0.847603,200,918.579177,183546,183716
3,spindle,E1,0001,0001,922.078189,0.878845,200,922.957034,184416,184591
4,spindle,E1,0001,0001,939.055445,0.757767,200,939.813212,187811,187963

In [23]:
signalsMetadata.head()

,subjectId,file,channel,duration,samplerate,isOriginalSamplerate,database
0,0001,MASS_0001.pkl,C3-CLE,28956.0,200,False,MASS
1,0002,MASS_0002.pkl,C3-CLE,35016.0,200,False,MASS
2,0003,MASS_0003.pkl,C3-CLE,36760.0,200,False,MASS
3,0004,MASS_0004.pkl,C3-CLE,28004.0,200,False,MASS
4,0005,MASS_0005.pkl,C3-CLE,31244.0,200,False,MASS

## define a fixed feature selection to use

In [24]:
featureSelectionx=loadPickle("featureSelectionComplete_bootstrapppingR2.pkl")
featureSelection=featureSelectionx.sort_values('Times_selected',ascending=False).head(7).copy().reset_index(drop=True)
featureSelection

  window characteristic   bandName  Times_selected
0      2     sigmaIndex  broadband          1000.0
1      2  hjortActivity      sigma          1000.0
2    1.5     sigmaIndex  broadband          1000.0
3      1  hjortActivity      sigma          1000.0
4      1     sigmaIndex  broadband          1000.0
5      2  hjortActivity      beta1          1000.0
6      2  hjortActivity      beta2          1000.0

## load data split
10 fold CV with 4 subjects for testing

In [25]:
#by now we used fixed CV data splits instead
dataSplits=loadPickle("dataSplits_LOOCV.pkl")
dataSplits

,train,val,test
0,"[0003, 0005, 0007, 0009, 0010, 0011, 0012, 001...","[0017, 0002, 0006]",0001
1,"[0001, 0003, 0005, 0007, 0009, 0010, 0011, 001...","[0006, 0013, 0019]",0002
2,"[0002, 0005, 0007, 0009, 0010, 0011, 0012, 001...","[0013, 0006, 0001]",0003
3,"[0001, 0002, 0003, 0006, 0007, 0009, 0010, 001...","[0018, 0014, 0012]",0005
4,"[0003, 0007, 0009, 0010, 0011, 0012, 0013, 001...","[0005, 0001, 0002]",0006
5,"[0001, 0002, 0003, 0010, 0011, 0012, 0013, 001...","[0005, 0006, 0009]",0007
6,"[0001, 0003, 0005, 0006, 0007, 0010, 0011, 001...","[0002, 0017, 0013]",0009
7,"[0002, 0003, 0005, 0006, 0007, 0009, 0012, 001...","[0017, 0001, 0011]",0010
8,"[0001, 0003, 0005, 0006, 0009, 0010, 0012, 001...","[0002, 0018, 0007]",0011
9,"[0002, 0003, 0005, 0006, 0009, 0011, 0013, 001...","[0001, 0007, 0010]",0012
10,"[0002, 0003, 0005, 0006, 0007, 0010, 0011, 001...","[0009, 0001, 0012]",0013
11,"[0001, 0002, 0003, 0005, 0006, 0007, 0009, 001...","[0010, 0012, 0011]",0014
12,"[0002, 0003, 0005, 0006, 0007, 0009, 0011, 001...","[0010, 0018, 0001]",0017
13,"[0001, 0002, 0005, 0006, 0007, 0010, 0011, 001...","[0012, 0003, 0009]",0018
14,"[0001, 0002, 0005, 0007, 0009, 0010, 0011, 001...","[0014, 0006, 0003]",0019

## define annotation criteria
we want to test the models in three diferent ways

In [26]:
annotationCriteria=pd.DataFrame({
    'criteriumId':['0001','0002'],
    'criteriumName':['E1','E2'],
    'labelerIdList':[['0001'],['0002']]
})

In [27]:
annotationCriteria

  criteriumId criteriumName labelerIdList
0        0001            E1        [0001]
1        0002            E2        [0002]

In [28]:
experimentModels=pd.merge(annotationCriteria,dataSplits,how='cross')

In [29]:
experimentModels

,criteriumId,criteriumName,labelerIdList,train,val,test
0,0001,E1,[0001],"[0003, 0005, 0007, 0009, 0010, 0011, 0012, 001...","[0017, 0002, 0006]",0001
1,0001,E1,[0001],"[0001, 0003, 0005, 0007, 0009, 0010, 0011, 001...","[0006, 0013, 0019]",0002
2,0001,E1,[0001],"[0002, 0005, 0007, 0009, 0010, 0011, 0012, 001...","[0013, 0006, 0001]",0003
3,0001,E1,[0001],"[0001, 0002, 0003, 0006, 0007, 0009, 0010, 001...","[0018, 0014, 0012]",0005
4,0001,E1,[0001],"[0003, 0007, 0009, 0010, 0011, 0012, 0013, 001...","[0005, 0001, 0002]",0006
5,0001,E1,[0001],"[0001, 0002, 0003, 0010, 0011, 0012, 0013, 001...","[0005, 0006, 0009]",0007
6,0001,E1,[0001],"[0001, 0003, 0005, 0006, 0007, 0010, 0011, 001...","[0002, 0017, 0013]",0009
7,0001,E1,[0001],"[0002, 0003, 0005, 0006, 0007, 0009, 0012, 001...","[0017, 0001, 0011]",0010
8,0001,E1,[0001],"[0001, 0003, 0005, 0006, 0009, 0010, 0012, 001...","[0002, 0018, 0007]",0011
9,0001,E1,[0001],"[0002, 0003, 0005, 0006, 0009, 0011, 0013, 001...","[0001, 0007, 0010]",0012
10,0001,E1,[0001],"[0002, 0003, 0005, 0006, 0007, 0010, 0011, 001...","[0009, 0001, 0012]",0013
11,0001,E1,[0001],"[0001, 0002, 0003, 0005, 0006, 0007, 0009, 001...","[0010, 0012, 0011]",0014
12,0001,E1,[0001],"[0002, 0003, 0005, 0006, 0007, 0009, 0011, 001...","[0010, 0018, 0001]",0017
13,0001,E1,[0001],"[0001, 0002, 0005, 0006, 0007, 0010, 0011, 001...","[0012, 0003, 0009]",0018
14,0001,E1,[0001],"[0001, 0002, 0005, 0007, 0009, 0010, 0011, 001...","[0014, 0006, 0003]",0019
15,0002,E2,[0002],"[0003, 0005, 0007, 0009, 0010, 0011, 0012, 001...","[0017, 0002, 0006]",0001
16,0002,E2,[0002],"[0001, 0003, 0005, 0007, 0009, 0010, 0011, 001...","[0006, 0013, 0019]",0002
17,0002,E2,[0002],"[0002, 0005, 0007, 0009, 0010, 0011, 0012, 001...","[0013, 0006, 0001]",0003
18,0002,E2,[0002],"[0001, 0002, 0003, 0006, 0007, 0009, 0010, 001...","[0018, 0014, 0012]",0005
19,0002,E2,[0002],"[0003, 0007, 0009, 0010, 0011, 0012, 0013, 001...","[0005, 0001, 0002]",0006
20,0002,E2,[0002],"[0001, 0002, 0003, 0010, 0011, 0012, 0013, 001...","[0005, 0006, 0009]",0007
21,0002,E2,[0002],"[0001, 0003, 0005, 0006, 0007, 0010, 0011, 001...","[0002, 0017, 0013]",0009
22,0002,E2,[0002],"[0002, 0003, 0005, 0006, 0007, 0009, 0012, 001...","[0017, 0001, 0011]",0010
23,0002,E2,[0002],"[0001, 0003, 0005, 0006, 0009, 0010, 0012, 001...","[0002, 0018, 0007]",0011
24,0002,E2,[0002],"[0002, 0003, 0005, 0006, 0009, 0011, 0013, 001...","[0001, 0007, 0010]",0012
25,0002,E2,[0002],"[0002, 0003, 0005, 0006, 0007, 0010, 0011, 001...","[0009, 0001, 0012]",0013
26,0002,E2,[0002],"[0001, 0002, 0003, 0005, 0006, 0007, 0009, 001...","[0010, 0012, 0011]",0014
27,0002,E2,[0002],"[0002, 0003, 0005, 0006, 0007, 0009, 0011, 001...","[0010, 0018, 0001]",0017
28,0002,E2,[0002],"[0001, 0002, 0005, 0006, 0007, 0010, 0011, 001...","[0012, 0003, 0009]",0018
29,0002,E2,[0002],"[0001, 0002, 0005, 0007, 0009, 0010, 0011, 001...","[0014, 0006, 0003]",0019

## model fitting

In [30]:
n_jobs=4 # paralelization parameter for xgboost (keep it 8 as maximum)
learning_rate=0.4
subsample=0.6

num_boost_round=60  #number of boosting rounds per model

models=[]
modelIds=[]
valF1s=[]
spindleTimeRates=[]
for index, row in experimentModels.iterrows():
    print('**********************')
    print(str(index+1)+' of '+str(len(experimentModels)))
    #Define annotations criterium
    usedAnnotations=annotations[annotations.labelerId.isin(row.labelerIdList)].reset_index(drop=True)
    #Features
    trainFeatures=loadFeatureMatrix(row.train,featureSelection,signalsMetadata,samplerate,datapath)
    #Labels
    trainLabels=loadLabelsVector(row.train,usedAnnotations,signalsMetadata,samplerate)

    """ # Restrict trainingto N2 --------------------------------------------------------------->
    maskVector=loadN2maskVector(row.train,hypnograms,signalsMetadata,samplerate)
    trainFeatures=trainFeatures[maskVector,:]
    trainLabels=trainLabels[maskVector]
    #<--------------------------------------------------------------------------------------- """   #not in this experiment
    
    #Train the models
    params={
        'n_jobs':n_jobs,
        'learning_rate':learning_rate,
        'subsample':subsample,
        'objective':'binary:logistic'
    }
    trainDMatrix=xgb.DMatrix(data=trainFeatures,label=trainLabels)
    xgb_model = xgb.train(params,trainDMatrix,num_boost_round=num_boost_round)
    spindleTimeRates.append(sum(trainLabels)/len(trainLabels))
    models.append(xgb_model)
    modelIds.append(str(uuid.uuid4()))
    del trainFeatures, trainLabels, usedAnnotations, xgb_model, trainDMatrix

**********************
1 of 30
**********************
2 of 30
**********************
3 of 30
**********************
4 of 30
**********************
5 of 30
**********************
6 of 30
**********************
7 of 30
**********************
8 of 30
**********************
9 of 30
**********************
10 of 30
**********************
11 of 30
**********************
12 of 30
**********************
13 of 30
**********************
14 of 30
**********************
15 of 30
**********************
16 of 30
**********************
17 of 30
**********************
18 of 30
**********************
19 of 30
**********************
20 of 30
**********************
21 of 30
**********************
22 of 30
**********************
23 of 30
**********************
24 of 30
**********************
25 of 30
**********************
26 of 30
**********************
27 of 30
**********************
28 of 30
**********************
29 of 30
**********************
30 of 30

In [31]:
experimentModels["modelId"]=modelIds
experimentModels["spindleTimeRate"]=spindleTimeRates

In [32]:
experimentModels

,criteriumId,criteriumName,labelerIdList,train,val,test,modelId,spindleTimeRate
0,0001,E1,[0001],"[0003, 0005, 0007, 0009, 0010, 0011, 0012, 001...","[0017, 0002, 0006]",0001,05e93a64-a8ba-45cf-ac48-f8b257434828,0.018639
1,0001,E1,[0001],"[0001, 0003, 0005, 0007, 0009, 0010, 0011, 001...","[0006, 0013, 0019]",0002,3df999d6-1f82-4d2b-be7b-20618ae8167d,0.020055
2,0001,E1,[0001],"[0002, 0005, 0007, 0009, 0010, 0011, 0012, 001...","[0013, 0006, 0001]",0003,3271fe92-dee1-4855-9a51-5715b5c464cb,0.021075
3,0001,E1,[0001],"[0001, 0002, 0003, 0006, 0007, 0009, 0010, 001...","[0018, 0014, 0012]",0005,6098fc40-ad44-41fd-ae55-8a9928f019a9,0.018331
4,0001,E1,[0001],"[0003, 0007, 0009, 0010, 0011, 0012, 0013, 001...","[0005, 0001, 0002]",0006,1a4eaac2-1aef-4b08-aab8-91d990b59fe2,0.019222
5,0001,E1,[0001],"[0001, 0002, 0003, 0010, 0011, 0012, 0013, 001...","[0005, 0006, 0009]",0007,9112673c-4f84-4d9a-b1dd-553ec3cab0f2,0.019625
6,0001,E1,[0001],"[0001, 0003, 0005, 0006, 0007, 0010, 0011, 001...","[0002, 0017, 0013]",0009,6efaf008-c356-4a97-af1b-7cc5f3e6df64,0.017824
7,0001,E1,[0001],"[0002, 0003, 0005, 0006, 0007, 0009, 0012, 001...","[0017, 0001, 0011]",0010,5811d1a0-ce1d-46d1-9b71-e69c6f9d84b6,0.017542
8,0001,E1,[0001],"[0001, 0003, 0005, 0006, 0009, 0010, 0012, 001...","[0002, 0018, 0007]",0011,909626ee-7ed4-4a9b-8764-ab54e047a861,0.015442
9,0001,E1,[0001],"[0002, 0003, 0005, 0006, 0009, 0011, 0013, 001...","[0001, 0007, 0010]",0012,e194d5a5-fdee-43b3-8a4b-16d8de289bef,0.016460
10,0001,E1,[0001],"[0002, 0003, 0005, 0006, 0007, 0010, 0011, 001...","[0009, 0001, 0012]",0013,f998ef30-9025-45ef-9d19-798ba4ec8f49,0.017297
11,0001,E1,[0001],"[0001, 0002, 0003, 0005, 0006, 0007, 0009, 001...","[0010, 0012, 0011]",0014,56a3bb13-98ae-43b8-85a5-85dccad64c4c,0.017868
12,0001,E1,[0001],"[0002, 0003, 0005, 0006, 0007, 0009, 0011, 001...","[0010, 0018, 0001]",0017,1b0c5774-87e6-405f-af6a-842b2fcb46d7,0.016504
13,0001,E1,[0001],"[0001, 0002, 0005, 0006, 0007, 0010, 0011, 001...","[0012, 0003, 0009]",0018,eb0bf843-7d52-4ba0-8c70-4b397f0e4c6c,0.018626
14,0001,E1,[0001],"[0001, 0002, 0005, 0007, 0009, 0010, 0011, 001...","[0014, 0006, 0003]",0019,adfc8fd6-525b-4a31-9a55-b01999385792,0.022439
15,0002,E2,[0002],"[0003, 0005, 0007, 0009, 0010, 0011, 0012, 001...","[0017, 0002, 0006]",0001,7d0ce432-0b2d-4dcb-9a66-87a5c629f0d5,0.056746
16,0002,E2,[0002],"[0001, 0003, 0005, 0007, 0009, 0010, 0011, 001...","[0006, 0013, 0019]",0002,aadb4354-f6e4-4024-9970-8277e76a29a5,0.061232
17,0002,E2,[0002],"[0002, 0005, 0007, 0009, 0010, 0011, 0012, 001...","[0013, 0006, 0001]",0003,b2c864ac-aca2-4483-81df-2c06392ffeaf,0.063062
18,0002,E2,[0002],"[0001, 0002, 0003, 0006, 0007, 0009, 0010, 001...","[0018, 0014, 0012]",0005,5d22d763-29ba-42da-871d-692a4dfd21e0,0.061716
19,0002,E2,[0002],"[0003, 0007, 0009, 0010, 0011, 0012, 0013, 001...","[0005, 0001, 0002]",0006,2518576f-1ef4-4b81-b2f1-4d56655aa804,0.058705
20,0002,E2,[0002],"[0001, 0002, 0003, 0010, 0011, 0012, 0013, 001...","[0005, 0006, 0009]",0007,32dad559-1643-466e-952e-9f1c29a1993a,0.061530
21,0002,E2,[0002],"[0001, 0003, 0005, 0006, 0007, 0010, 0011, 001...","[0002, 0017, 0013]",0009,23390683-190c-42bc-9533-6c6cb81bb0b4,0.055908
22,0002,E2,[0002],"[0002, 0003, 0005, 0006, 0007, 0009, 0012, 001...","[0017, 0001, 0011]",0010,7c13a2bd-c784-41df-a22e-bbb9f245d440,0.052347
23,0002,E2,[0002],"[0001, 0003, 0005, 0006, 0009, 0010, 0012, 001...","[0002, 0018, 0007]",0011,65ff15a5-6234-4729-a4ab-b29acc8b05b1,0.054834
24,0002,E2,[0002],"[0002, 0003, 0005, 0006, 0009, 0011, 0013, 001...","[0001, 0007, 0010]",0012,9856b182-40c4-494a-9542-f1ffc940ba6a,0.053001
25,0002,E2,[0002],"[0002, 0003, 0005, 0006, 0007, 0010, 0011, 001...","[0009, 0001, 0012]",0013,9a7eafa6-3e73-454e-9a6e-ee8a9880e147,0.055095
26,0002,E2,[0002],"[0001, 0002, 0003, 0005, 0006, 0007, 0009, 001...","[0010, 0012, 0011]",0014,a33af125-c4dc-4820-9874-e47050421564,0.055557
27,0002,E2,[0002],"[0002, 0003, 0005, 0006, 0007, 0009, 0011, 001...","[0010, 0018, 0001]",0017,df1bd204-da29-4111-b17a-22415725c8c1,0.053827
28,0002,E2,[0002],"[0001, 0002, 0005, 0006, 0007, 0010, 0011, 001...","[0012, 0003, 0009]",0018,e0d6460d-4116-4d2d-8929-41afd36db623,0.064234
29,0002,E2,[0002],"[0001, 0002, 0005, 0007, 0009, 0010, 0011, 001...","[0014, 0006, 0003]",0019,cd8631f3-32f4-47fd-b6eb-69133a8a055d,0.067005

## save results

In [33]:
#create parent folder
experimentpath=datapath+"/experiments/"+experimentId
os.mkdir(experimentpath)
#save each of the models
for id, model in zip(modelIds,models):
    model.save_model(experimentpath+"/"+id+".json")
#save experiment information
dumpPickle(experimentpath+"/experimentModels.pkl",experimentModels)
dumpPickle(experimentpath+"/featureSelection.pkl",featureSelection)

In [34]:
#you need to use this in the following parts of the experiment
print(experimentId)

81a87df0-ab07-4941-876b-32e456655433